@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
  body {
    font-family: 'Open Sans', sans-serif;
}

  body p {
    /*font-style: italic;*/
    /*font-weight: 300;  You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
}

#header {
  /*border: 1px solid red;*/
}

.nav-1-container {
  /*border: 1px solid black;*/
  position: relative;
  top:-25px;
  right:275px;
  float: right;
  color: #404040;
}

.nav-1-container ul {
  display: block;
}

.nav-1-container ul > li {
  display: inline-block;
  margin: 15px 0 15px 25px;

}

.navigation-2 {
  background-color: #f6f6f6;
  min-height: 45px;
  text-align: center;
  padding-top: 9px;
}

.nav-2-container {
  width: 86%;
  margin: auto;
}

.nav-2-container ul {
  display: block;
}

.nav-2-container ul > li {
  display: inline-block;
  padding: 0 15px;
  line-height: 2em;
  font-weight: 600;
  opacity: 0.8;
}

.tooltip-info {
  position: absolute;
  width: 850px;
  height: 320px;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  left: 150px;
  display: none;
}

.about-left, .about-right {
  display: inline-block;
}

.about-left {
  width: 55%;
}

.box {
  position: relative;
  top: -150px;
}

.p-box {
  width: 70%;
  margin: auto;
  text-align: left;
}

#where {
  margin-top: 29px;
}

#where > .col-md-3 > img {
  margin-top: 20px;
}

#subscribe {
  width: 86%;
  margin: auto;
}

.subscribe-newsletter {
  width: 100%;
  background-color: #f4f4f4;
  height: 87px;
  position: relative;
}

.join-news {
  float: left;
}

.join-news > p > i {
  margin-right: 8px;
}

.img-container > img {
  width: 100%; 
}

#content {
  width: 86%;
  margin: 20px auto;
}


.article-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #f4f2ed;
}

.article-text > p {
  margin-top: 30px;
}

.contact-box {
  background-color: #fb8600;
  color: white;
  text-align: center;
  position: relative;
}

.contact-box-content {
   position: relative;
   /*padding: 52px;*/
 }  

 .apply-for {
  background-color: #fb8600;
 }

 .apply-for-content {
  background-color:#f1730c ;
/*  width:80%;
  height: 80%;*/
 }  

#sidebar {
  padding-right: 0;
}

 #rating {
  background-color: #f2f2f2;
  width: 100%;
  /*height: 420px;*/
  position: relative;
  margin-top: 70px;
  padding-bottom: 10px;
  
 }

#rating .head {
  color: #5f5f5f;
  font-weight: 700;
  position: relative;
  top: -32px;
  /*left: 60px;*/
  font-size: 1.2em;
  text-align: center;
  /*display: inline-block;*/
}

#rating img {
  display: inline;
}

.rating-rate {
  font-size: 6em;
  position: relative;
  /*top: 150px;*/
  text-align:center ;
  color: #cdcdcd;
}

.rating-rate-p {
  font-size: 2em;
  position: relative;
  /*top: 150px;*/
  text-align:center ;
  color: #c3c3c3;
  font-weight: bold;
  margin-top: -25px;
}

.atlantis {
  font-size: 2.3em;
  font-weight: 600;
  letter-spacing: -0.06em;
}

.blue {
  color: #0070be;
}

#shadow-container {
  background-image: url(jumbo.jpg);
  min-height: 390px;
}

 #shadow-container > img {
  height: 100%;
 }

 #shadow-container > div {
  position: relative;
  z-index: 1;  
  color: white;
  width: 70%;
  margin: auto;
  top: 80px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
 }

#apply-sp {
  border: none;
  border-radius: 27px;
  background-color: #f8f7f3;
  color: black;
  /*margin-left: 185px;
  margin-top: 40px;*/
  padding:20px;
 }

.jumbo-cta {
  position: relative;
  top:40px;
  left: 185px;
 }

.etc {
  margin-bottom: 40px;
}

#etc {
  width: 86%;
  margin:  30px auto;
  /*position: relative;*/
  /*top: 170px;*/
}

/* #etc-box {
  position: relative;
  top: 50px;
  left: 80px;
 }*/

 #footer {
  background-color: #e7e6e1;
  margin-top: 20px;
 }

 .footer-content {
  width: 86%;
  margin: auto;
 }

 .tweet-content > img {
  float: left;
  margin-right: 20px;
 }

 .social > ul {
  float: right;
  display: block;
  list-style-type: none;
 }

 .social > ul > li {
  display: inline-block;
 }

.img-wrap {
  position: absolute;
}

.img-wrap > img {
  position: relative;
  z-index: 1;
  min-height: 235px;
}

.subscribe-form {
  width: 86%;
  background-color: #f4f4f4; 
  margin: auto;
}

.form-inline {
  width: 100%;
  min-height: 30px;
}

#bloo {
  position: relative;
  top: -150px;
}

.blue-nav {
  width: 86%;
  margin: auto;
  position: relative; 
}

.blue-nav-container {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: auto;
  /*background-color:#003667;*/
  /*border: 1px solid black; */
}

.blue-jag {
 /*background-color: rgba(0, 54, 103, 0.7);*/
 min-height: 235px; 
}

#blue1 {
  background-color: #003667;
  opacity:0.8;
}

#blue2 {
  background-color: #03437d ;
  opacity:0.8;
}

#blue3 {
  background-color: #0a5599 ;
  opacity:0.8;
}

#blue4 {
  background-color: #1c6fba ;
  opacity:0.8;
}

.blue-nav-container h3 {
  color: white;
} 

.blue-heading {
color: white;
position: absolute;
text-align: left;
top: 25%;
font-size: 2.2em;
font-weight: 600;
padding-left: 54px;
}

#footer {
  background-color: #e7e6e1;
}

.footer-content {
  width: 86%;
  margin: auto;
  padding: 15px;
}

