@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
  body {
    font-family: 'Open Sans', sans-serif;
}

  body p {
    /*font-style: italic;*/
    /*font-weight: 300;  You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
}

#header {
  /*border: 1px solid red;*/
}

.nav-1-container {
  /*border: 1px solid black;*/
  position: relative;
  top:-25px;
  right:275px;
  float: right;
  color: #404040;
}

.nav-1-container ul {
  display: block;
}

.nav-1-container ul > li {
  display: inline-block;
  margin-left: 25px;
}

.navigation-2 {
  background-color: #f6f6f6;
}

.nav-2-container {
  width: 86%;
  margin: auto;
}

.nav-2-container ul {
  display: block;
}

.nav-2-container ul > li {
  display: inline-block;
  margin-right: 30px;
  padding: 1px;
}

#subscribe {
  width: 86%;
  margin: auto;
}

.subscribe-newsletter {
  width: 100%;
  background-color: #f4f4f4;
  height: 87px;
  position: relative;
}

.join-news {
  float: left;
}

.join-news > p > i {
  margin-right: 8px;
}

.img-container > img {
  width: 100%; 
}

#content {
  width: 86%;
  margin: auto;
}

.body-content {
  /*border: 1px solid black;*/
  left: 100px;
}

.article-title {
  margin-bottom: 20px;
  border-bottom: 2px solid #f4f2ed;
}

.article-text > p {
  margin-top: 30px;
}

.contact-box {
  background-color: #fb8600;
  color: white;
  text-align: center;
  position: relative;
}

.contact-box-content {
   position: relative;
   padding: 52px;
 }  

 .apply-for {
  background-color: #fb8600;
 }

 .apply-for-content {
  background-color:#f1730c ;
/*  width:80%;
  height: 80%;*/
 }  

 #rating {
  background-color: #f2f2f2;
  width: 100%;
  height: 420px;
  position: relative;
 }

#rating .head {
  color: #5f5f5f;
  font-weight: 700;
  position: relative;
  top: 145px;
  left: 60px;
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
}

.rating-rate {
  font-size: 6em;
  position: relative;
  top: 150px;
  text-align:center ;
  color: #cdcdcd;
}

.blue {
  color: #0070be;
}

 #shadow-container > img {
  position: absolute;
 }

 #shadow-container > div {
  position: relative;
  z-index: 1;  
  color: white;
  width: 70%;
  margin: auto;
  top: 80px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
 }

#apply-sp {
  border: none;
  border-radius: 27px;
  background-color: #f8f7f3;
  color: black;
  /*margin-left: 185px;
  margin-top: 40px;*/
  padding:20px;
 }

.jumbo-cta {
  position: relative;
  top:40px;
  left: 185px;
 }

#etc {
  width: 86%;
  margin: auto;
  position: relative;
  top: 170px;
}

 #etc-box {
  position: relative;
  top: 50px;
  left: 80px;
 }

 #etc-box > h3 {

 }

 #footer {
  background-color: #e7e6e1;
  position: relative;
  top: 180px;
  margin-top: 20px;
 }

 .footer-content {
  width: 86%;
  margin: auto;
 }

 .tweet-content > img {
  float: left;
 }

 .social > ul {
  float: right;
  display: block;
  list-style-type: none;
 }

 .social > ul > li {
  display: inline-block;
 }
